.editor-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .editor-box {
    width: 375px;
    height: 667px;
    position: relative;

    .package-item {
      position: absolute;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #eee;
        opacity: 0.2;
      }
    }

    .selected {
      border: 1px dashed skyblue;
    }

    .draging {
      cursor: move;
    }

    .guide-line-x {
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px solid skyblue;
    }

    .guide-line-y {
      position: absolute;
      top: 0;
      bottom: 0;
      border-right: 1px solid skyblue;
    }
  }
}
